<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9525a39b-3a52-4cb2-9947-635d5c779c70/resourceGroups/ProjektniZadatakResourceGroup/providers/Microsoft.Web/sites/ProjektniZadatak</ResourceId>
    <ResourceGroup>ProjektniZadatakResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://projektnizadatak.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>326668fe-cb32-4fbd-bfde-43549cc317cc</ProjectGuid>
    <PublishUrl>https://projektnizadatak.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ProjektniZadatak</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>